<% layout('/layouts/boilerplate') %>

<!-- <h1>Edit Campground</h1> -->
<!-- <form action="/campgrounds/<%= search._id %>?_method=PUT " method="post">
  <div>
    <label for="title">title</label>
    <input
      type="text"
      id="title"
      name="campground[title]"
      value="<%= search.title %> "
    />
  </div>
  <div>
    <label for="location">location</label>
    <input
      type="text"
      id="location"
      name="campground[location]"
      value="<%=search.location%>"
    />
  </div>
  <button>Save</button>
</form>
<a href="/campgrounds/<%= search._id %> ">Back to Campgrounds</a> -->

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= search._id %>?_method=PUT "
      method="post"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= search.title %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= search.location %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <!-- <div class="mb-3">
        <label class="form-label" for="image">Add Images</label>
        <input type="file" name="image" id="image" multiple />
        <!-- <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          value="<%= search.image %> "
          required
        />
        <div class="valid-feedback">Looks good!</div> -->
      <!-- </div> -->

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>

        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price-label"
            aria-describedby="price-label"
            name="campground[price]"
            value="<%= search.price %> "
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
<%= search.description %> </textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="input-group mb-3">
        <input
          type="file"
          class="form-control"
          id="image"
          name="image"
          multiple
        />
        <label class="input-group-text" for="inputGroupFile02"
          >Add more images</label
        >
      </div>
      <div class="mb-3">
        <% search.images.forEach(function(img,i) { %>
        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            name="deleteImages[]"
            value="<%=img.filename%>"
            id="image-<%=i%>"
          />
        </div>
        <label for="image-<%=i%>">Delete?</label>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>

    <a href="/campgrounds/<%= search._id %> ">Back to Campgrounds</a>
  </div>
</div>
