<% layout('/layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img src="<%= search.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= search.title %></h5>
        <p class="card-text"><%= search.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= search.location %></li>
        <li class="list-group-item">$<%= search.price%>/night</li>
      </ul>
      <div class="card-body">
        <a
          href="/campgrounds/<%= search._id %>/edit "
          class="card-link btn btn-info"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= search._id %>?_method=DELETE "
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <div class="card-footer"><a href="/campgrounds">All Campgrounds</a></div>
    </div>
  </div>
</div>
<!-- <h1><%= search.title %></h1>
<h2><%= search.location %></h2>
<img src="<%= search.image %> " alt="" srcset="" />
<p><%= search.description %></p>
<p>
  <a href="/campgrounds/<%= search._id %>/edit ">Edit</a>
</p>
<p></p> -->
<!-- <footer></footer> -->
