<% layout('/layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img src="<%= search.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= search.title %></h5>
        <p class="card-text"><%= search.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= search.location %></li>
        <li class="list-group-item">$<%= search.price%>/night</li>
      </ul>
      <div class="card-body">
        <a
          href="/campgrounds/<%= search._id %>/edit "
          class="card-link btn btn-info"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= search._id %>?_method=DELETE "
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <div class="card-footer"><a href="/campgrounds">All Campgrounds</a></div>
    </div>
    <h2>Leave a Review</h2>
    <form action="" class="mb-3">
      <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input
          class="form-range"
          type="range"
          name="review[rating]"
          min="1"
          max="5"
          id="rating"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="reviewbody">Review</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
        ></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
<!-- <h1><%= search.title %></h1>
<h2><%= search.location %></h2>
<img src="<%= search.image %> " alt="" srcset="" />
<p><%= search.description %></p>
<p>
  <a href="/campgrounds/<%= search._id %>/edit ">Edit</a>
</p>
<p></p> -->
<!-- <footer></footer> -->
